<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="corona" verbose="0" >

	<!-- All Test Cases for Injection Container -->
	<test name="context" >
		<classes>
			<class name="com.corona.test.context.constant.ConstantComponentTest" />
			<class name="com.corona.test.context.component.ClassComponentTest" />
			<class name="com.corona.test.context.provider.ProviderComponentTest" />
		</classes>
	</test>

	<!-- All Test Cases for Expression -->
	<test name="context" >
		<classes>
			<class name="com.corona.test.expression.ExpressionTest" />
			<class name="com.corona.test.expression.TemplateTest" />
		</classes>
	</test>

	<!-- All Test Cases for IO -->
	<test name="IO" >
		<classes>
			<class name="com.corona.test.io.avro.ReflectMarshallerAndUnmarshallerTest" />
			<class name="com.corona.test.io.jackson.JacksonMarshallerAndUnmarshallerTest" />
			<class name="com.corona.test.io.jaxb.JabxMarhsallerAndUnmarshallerTest" />
		</classes>
	</test>

	<!-- All Test Cases for crypto -->
	<test name="IO" >
		<classes>
			<class name="com.corona.test.crypto.DESCipherEngineTest" />
			<class name="com.corona.test.crypto.DESedeCipherEngineTest" />
			<class name="com.corona.test.crypto.AESCipherEngineTest" />
			<class name="com.corona.test.crypto.RSACipherEngineTest" />
			<class name="com.corona.test.crypto.RC4CipherEngineTest" />
			<class name="com.corona.test.crypto.BlowfishCipherEngineTest" />
		</classes>
	</test>

	<!-- All Test Cases for database -->
	<test name="database" >
		<classes>
			<class name="com.corona.test.data.DatabaseTransactionTest" />
			<class name="com.corona.test.data.HomePrimaryKeyTest" />
			<class name="com.corona.test.data.HomeSelectTest" />
			<class name="com.corona.test.data.ResultHandlerTest" />
			<class name="com.corona.test.data.DatabaseAssertionTest" />
			<class name="com.corona.test.data.SQLStatementPoolTest" />
		</classes>
	</test>
	
	<!-- All Test Case for Web Producer -->
	<test name="web">
		<classes>
			<class name="com.corona.test.servlet.IndexTextTest" />
			<class name="com.corona.test.servlet.IndexXmlTest" />
			<class name="com.corona.test.servlet.IndexJsonTest" />
			<class name="com.corona.test.servlet.IndexHtmlTest" />
			<class name="com.corona.test.servlet.IndexPdfTest" />
			<class name="com.corona.test.servlet.IndexExcelTest" />
			<class name="com.corona.test.servlet.IndexPngTest" />
			<class name="com.corona.test.servlet.CookieHtmlTest" />
			<class name="com.corona.test.servlet.ComponentHandlerHtmlTest" />
			<class name="com.corona.test.servlet.SessionVariableHtmlTest" />
			
			<class name="com.corona.test.servlet.param.ParamUtilTest" />
			<class name="com.corona.test.servlet.param.ParamBeanInjectionTest" />
			<class name="com.corona.test.servlet.param.ParamSimpleInjectionTest" />
			<class name="com.corona.test.servlet.param.ParamMethodInjectionTest" />
		</classes>
	</test>
	
		<!-- All Test Case for Web Producer -->
	<test name="remote">
		<classes>
			<class name="com.corona.test.remote.RemoteBasicTest" />
		</classes>
	</test>
</suite>
